<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/mobile">
<h:body>
	<h3 style="text-align:center">Are you sure you want to delete all tasks/cases?</h3>
	<h:form id="form">
		<h:panelGrid columns="2" style="margin: 0 auto;">
			<p:commandButton actionListener="#{logic.delete}" value="Yes, I'm SURE" update="form" icon="ui-icon-check" />
			<p:commandButton actionListener="#{logic.close}" value="NO" update="form" icon="ui-icon-check" />
		</h:panelGrid>
	</h:form>
</h:body>
</html>